[alias]
	st = status
	ch = checkout
	co = commit
	cov = commit --verbose
	noed = commit --amend --no-edit
	br = for-each-ref --color=always --sort=-committerdate refs/heads/ --format='%(if)%(HEAD)%(then)* %(color:green)%(else)  %(end)%(refname:short) %(color:yellow)%(committerdate:relative)%(color:reset)'
	brr = for-each-ref --color=always --sort=-committerdate refs/remotes/ --format='%(if)%(HEAD)%(then)* %(color:green)%(else)  %(end)%(refname:short) %(color:yellow)%(committerdate:relative)%(color:reset)'
	l = log --decorate --graph --oneline
	pushf = push --force-with-lease
	wdiff = diff --word-diff=color
[push]
	default = current
[pull]
	ff = only
[include]
	path = ~/.gitconfig_user
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[init]
	defaultBranch = main
